
/* not strictly needed but good practice and helps with autocomplete */
@import url(styles.css);

/* details collapsible header */
.about-collapsible {
    background-color: var(--theme-color-3-light-translucent) ;
    color: var(--theme-color-3);
    border-radius: 4px;
    padding-left: 1%;
}

