
.welcome-left {
    color: var(--theme-color-3-light);
}

/* <detail> collapsible header */
.collapsible-about-header {
    background-color: var(--theme-color-3-light-translucent) ;
    color: var(--theme-color-3);
}

/* <detail> collapsible content */
.collapsible-about {
    background-color: var(--theme-color-3-light-translucent);
    border-radius: 16px;
}

