
/* not strictly needed but good practice and helps with autocomplete */
@import url(styles.css);

:root{
--about-button-color: var(--theme-color-3);
--about-button-hover: var(--theme-color-3-dark);
}

/* Welcome/Intro Section */
.welcome-left {
    float: left;
    text-align: left;
    color: var(--theme-color-3-light);
}

.welcome-right {
    float: right;
    text-align: right;
    color: var(--theme-color-3-light);
}

.welcome-paragraph {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.about-button {
    background-color: var(--about-button-color);
    margin-top: 24px;
}

.about-button:hover {
    background-color: var(--about-button-hover);
}

/* Projects Section */
.projects-header {
    color: var(--theme-color-1-dark);
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.project-title {
    color: var(--theme-color-1);
    width: 85%;
    padding-left: 10%;
    padding-right: 5%;
}

.project-summary {
    text-align:left;
    width: 85%;
    padding-left: 10%;
    padding-right: 5%;
}

/* Interests Section */
.interests-header {
    color: var(--theme-color-2-dark);
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.interest-title {
    color: var(--theme-color-2);
    width: 85%;
    padding-left: 10%;
    padding-right: 5%;
}

.interest-summary {
    text-align:left;
    width: 85%;
    padding-left: 10%;
    padding-right: 5%;
}
