
:root{
--about-button-color: var(--theme-color-3);
--about-button-hover: var(--theme-color-3-dark);
}

/* Welcome/Intro Section */
.welcome-left {
    color: var(--theme-color-2-light);
}

.welcome-right {
    color: var(--theme-color-2-light);
}

.welcome-paragraph {
    text-align: center ;
}

.under-construction {
    color: yellow;
    background-color: hsla(0, 100%, 60%, 0.3);
    border-radius: 24px;
    padding: 12px;

    
    width: 60vw;
    margin-left: 20vw;
    margin-right: 20vw;

    font-size: var(--base-font-size);
    font-weight: 800;
    text-decoration: none;
    
}

.about-button {
    background-color: var(--about-button-color);
    margin-top: 24px;
}

.about-button:hover {
    background-color: var(--about-button-hover);
}


/* <detail> collapsible header */
.collapsible-index-header {
    background-color: var(--theme-color-1-translucent) ;
    color: var(--theme-color-1);
}

/* <detail> collapsible content */
.collapsible-index {
    background-color: var(--theme-color-1-translucent);
    border-radius: 16px;
}

/* "For Employers" Section */

/* Contact box */
:root {
    --contact-list-width: 60vw;
    --contact-list-height: min(120px, 12vw);
    --contact-list-item-width: min(80px, 8vw);
    --contact-list-item-height: var(--contact-list-item-width);
    --contact-list-item-side-margin: 4vw;
    --num-contact-list-items: 3;

    --width-contact-list-items: calc(var(--num-contact-list-items) * (var(--contact-list-item-width) + (var(--contact-list-item-side-margin) * 2)))
}

.employer-intro {
    text-align: center;
}
.employer-shortcuts-container {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 5%;
    padding-right: 2%;
    background-color: var(--theme-color-1-light-translucent);
    border-radius: 16px;
}

.employer-shortcut {
    text-decoration: underline;
    color: var(--theme-color-1-dark);
    font-weight: 400;
}

.contact-list-header {
    text-align: center;
    font-weight: 600;
    color: var(--theme-color-1-dark);
}

.contact-list-container {
    width: var(--contact-list-width);
    height: var(--contact-list-height);
    /* -5vw on margin-left to account for being in a details box */
    margin-left: calc((100vw - var(--contact-list-width)) / 2 - 5vw);
    margin-right: calc((100vw - var(--contact-list-width)) / 2);

    border-radius: 16px;
    background-color: var(--contact-bar-color);
}

.contact-list {
    list-style-type: none; /* don't show any list indicator */

    width: var(--width-contact-list-items);
    padding-left: calc((var(--contact-list-width) - var(--width-contact-list-items)) / 2);
}

.contact-list-item {
    float:left;
}

.contact-list-icon {
    height: var(--contact-list-item-height);
    width: var(--contact-list-item-width);
}

.contact-list-item a {
    display: block;
    color: var(--site-white);
    margin-top: calc((var(--contact-list-height) - var(--contact-list-item-height)) / 2);
    margin-bottom: calc((var(--contact-list-height) - var(--contact-list-item-height)) / 2);
    margin-left: var(--contact-list-item-side-margin);
    margin-right: var(--contact-list-item-side-margin);
}

/* Projects Section */
.projects-header {
    color: var(--theme-color-1-dark);
    background-color: var(--theme-color-1-light-translucent);
    border-radius: 24px;
    width: 80vw;
    margin-left: 4vw;
    margin-right: 4vw;
}

.project-title {
    color: var(--theme-color-1);
    width: 85%;
    padding-left: 10%;
    padding-right: 5%;
}

.project-summary {
    text-align:left;
    width: 85%;
    padding-left: 10%;
    padding-right: 5%;
}

/* Interests Section */
.interests-header {
    color: var(--theme-color-2-dark);
    background-color: var(--theme-color-2-light-translucent);
    border-radius: 24px;
    width: 80vw;
    margin-left: 4vw;
    margin-right: 4vw;
}

.interest-title {
    color: var(--theme-color-2);
    width: 85%;
    padding-left: 10%;
    padding-right: 5%;
}

.interest-summary {
    text-align:left;
    width: 85%;
    padding-left: 10%;
    padding-right: 5%;
}
