
/* import Jetbrains Mono font */
/* for some reason, order doesn't matter in CSS, but imports do need to be first, which makes sense, but I don't like it :) */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    /* set wildcard (any) defaults */
    font-weight: 200;
    font-size: var(--base-font-size);
}

:root {
    /* universal font-families */
    --font-1: "JetBrains Mono", monospace; 

    /* universal site color variables */ 
    --site-black: hsla(0, 0%, 10%, 1);
    --site-white: hsla(0, 0%, 90%, 1);

    --background-color: var(--site-black);
    --background-color-inverse: var(--site-white);

    --text-color: var(--site-white);
    --text-color-inverse: var(--site-black);
    --text-color-bright: hsla(0, 0%, 100%, 1);

    /* theme color components */
    --theme-color-1-h: 210;
    --theme-color-1-s: 50%;
    --theme-color-1-l: 66%;
    --theme-color-1-a: 1;

    --theme-color-2-h: 265;
    --theme-color-2-s: 50%;
    --theme-color-2-l: 66%;
    --theme-color-2-a: 1;

    --theme-color-3-h: 120;
    --theme-color-3-s: 50%;
    --theme-color-3-l: 66%;
    --theme-color-3-a: 1;

    /* primary theme colors */
    --theme-color-1: hsla(var(--theme-color-1-h), var(--theme-color-1-s), var(--theme-color-1-l), var(--theme-color-1-a));
    --theme-color-2: hsla(var(--theme-color-2-h), var(--theme-color-2-s), var(--theme-color-2-l), var(--theme-color-2-a));
    --theme-color-3: hsla(var(--theme-color-3-h), var(--theme-color-3-s), var(--theme-color-3-l), var(--theme-color-3-a));

    /* theme color dark and light variants */
    --theme-color-1-dark: hsla(var(--theme-color-1-h), var(--theme-color-1-s), calc(var(--theme-color-1-l) - 15%), var(--theme-color-1-a));
    --theme-color-2-dark: hsla(var(--theme-color-2-h), var(--theme-color-2-s), calc(var(--theme-color-2-l) - 15%), var(--theme-color-2-a));
    --theme-color-3-dark: hsla(var(--theme-color-3-h), var(--theme-color-3-s), calc(var(--theme-color-3-l) - 15%), var(--theme-color-3-a));

    --theme-color-1-light: hsla(var(--theme-color-1-h), var(--theme-color-1-s), calc(var(--theme-color-1-l) + 15%), var(--theme-color-1-a));
    --theme-color-2-light: hsla(var(--theme-color-2-h), var(--theme-color-2-s), calc(var(--theme-color-2-l) + 15%), var(--theme-color-2-a));
    --theme-color-3-light: hsla(var(--theme-color-3-h), var(--theme-color-3-s), calc(var(--theme-color-3-l) + 15%), var(--theme-color-3-a));

    /* theme color translucent variants */
    --theme-color-1-translucent: hsla(var(--theme-color-1-h), var(--theme-color-1-s), var(--theme-color-1-l), calc(var(--theme-color-1-a) - 0.9));
    --theme-color-2-translucent: hsla(var(--theme-color-2-h), var(--theme-color-2-s), var(--theme-color-2-l), calc(var(--theme-color-2-a) - 0.9));
    --theme-color-3-translucent: hsla(var(--theme-color-3-h), var(--theme-color-3-s), var(--theme-color-3-l), calc(var(--theme-color-3-a) - 0.9));

    --theme-color-1-light-translucent: hsla(var(--theme-color-1-h), var(--theme-color-1-s), calc(var(--theme-color-1-l) + 15%), calc(var(--theme-color-1-a) - 0.9));
    --theme-color-2-light-translucent: hsla(var(--theme-color-2-h), var(--theme-color-2-s), calc(var(--theme-color-2-l) + 15%), calc(var(--theme-color-2-a) - 0.9));
    --theme-color-3-light-translucent: hsla(var(--theme-color-3-h), var(--theme-color-3-s), calc(var(--theme-color-3-l) + 15%), calc(var(--theme-color-3-a) - 0.9));

    /* component colors */
    --nav-bar-color: var(--theme-color-1-translucent);
    --bottom-bar-color: var(--theme-color-2-translucent);
    --contact-bar-color: var(--theme-color-3-translucent);

    /* this shouldn't be hard coded, but until I need it, im leaving it 
    it's basically a highlight dark tint anyway */
    --nav-bar-hover: hsla(0, 0%, 0%, 0.4);

    /* contact button at the bottom of pages */
    --contact-button-color: var(--theme-color-2);
    --contact-button-hover: var(--theme-color-2-dark);

    /* "responsive" font sizing 
    scale the max font size to 2% of the viewport width, but keep it above 12px and below 24px
    in theory max(<mininum size in pixels>, min(<scaling to viewport width>, <max size in pixels>)) */
    --base-font-size: max(12px, min(2vw, 20px));
    --large-font-size: max(16px, min(3vw, 48px));
    --small-font-size: max(10px, min(1.5vw, 16px)); 
}

body {
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;

    background-color: var(--background-color);
    color: var(--text-color);

    font-family: var(--font-1);
    font-size: var(--base-font-size);
}

.title-text {
    font-size: var(--large-font-size);
    font-weight: 800;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    font-size: var(--large-font-size);
    font-weight: 400;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.button-generic {
    background-color: var(--theme-color-1); 
    color: var(--text-color-bright);

    border: none;
    border-radius: 4px;   

    padding: 8px 16px;

    text-align: center;
    font-family: var(--font-1);
    font-size: var(--base-font-size);
    font-weight: 600;
}

.button-generic:hover {
    background-color: var(--theme-color-1-dark); 
    color: var(--text-color-bright);
}

.button-centered {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

.collapsible-generic {
    border-radius: 16px;
    width: 90%;
    margin-left: 4%;
    margin-right: 4%;
    padding: 1%;
}

.collapsible-generic-header {
    font-weight: 400;
    font-size: var(--large-font-size);
    border-radius: 24px;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.collapsible-generic-subheading {
    font-size: var(--large-font-size);
    font-weight: 400;
}

.collapsible-generic-unordered-list {
    padding-left: 5%;
}

/* Top Navigation Bar */
.top-nav {
    /* add a custom background color to the top navigation bar */
    --nav-item-margin: max(8px, 0.5vw);
    background-color: var(--nav-bar-color);
    overflow: hidden;

    /* handles the bottom margin for all child objects, 
    prevents double margin stacking undesired behaviour.
    also handles the side margins
    */
    padding: var(--nav-item-margin) 5vw 0vw 5vw;
}

.top-nav-left {
    width: 70%;
    float: left;
}

.top-nav-right {
    width: 30%;
    float: right;
}

/* Style each link in the navigation bar */
.top-nav a {
    text-decoration: none; /* remove default underline */
    color: var(--text-color);   
    padding: 4px 8px;
    text-align: center;
    font-size: var(--base-font-size);

    border: solid 2px var(--theme-color-1-light);
    border-radius: 8px;  

    /* margins bottom left and right, but handle top margin as padding from parent container, 
    prevents double margin stacking undesired behaviour*/
    margin: 0 var(--nav-item-margin) var(--nav-item-margin) var(--nav-item-margin);
}

/* Change the color of links on hover */
.top-nav a:hover {
    background-color: var(--nav-bar-hover);
    color: var(--text-color);
    
}

/* Highlight "active" page */
.top-nav a.active {
    background-color: var(--nav-bar-hover);
    color: var(--text-color);
}

.top-nav a.left-align {
    float: left;
    text-align: left;
    color: var(--theme-color-1-light);

}

.top-nav a.right-align {
    float: right;
    text-align: right;
    color: var(--theme-color-2-light);
}

/* Welcome Section */
.welcome-left {
    text-align: left;
}

.welcome-right {
    text-align: right;
}

.welcome-paragraph {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

/* Bottom Bar */
.bottom-bar {
    /* add a custom background color to the page end bar */
    background-color: var(--bottom-bar-color);
    padding-top: 1%;
}

.bottom-bar-text {
    text-align: center;
    font-weight: 500;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.contact-button {
    margin-top: 16px;
}

.contact-button:hover {
    background-color: var(--contact-button-hover); 
}
