
/* import Jetbrains Mono font */
/* for some reason, order doesn't matter in CSS, but imports do need to be first, which makes sense, but I don't like it :) */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    /* set wildcard (any) defaults */
    font-weight: 200;
    font-size: var(--base-font-size);
}

:root {
    /* universal font-families */
    --font-1: "JetBrains Mono", monospace; 

    /* universal site color variables */ 
    --site-black: hsla(0, 0%, 10%, 1);
    --site-white: hsla(0, 0%, 90%, 1);

    --background-color: var(--site-black);
    --background-color-inverse: var(--site-white);

    --text-color: var(--site-white);
    --text-color-inverse: var(--site-black);
    --text-color-bright: hsla(0, 0%, 100%, 1);

    --nav-bar-color: hsla(220, 50%, 56%, 0.50);
    --nav-bar-hover: hsla(0, 0%, 0%, 0.4);

    --bottom-bar-color: var(--nav-bar-color);

    --theme-color-1-h: 210;
    --theme-color-1-s: 50%;
    --theme-color-1-l: 66%;
    --theme-color-1-a: 1;

    --theme-color-2-h: 265;
    --theme-color-2-s: 50%;
    --theme-color-2-l: 66%;
    --theme-color-2-a: 1;

    --theme-color-3-h: 120;
    --theme-color-3-s: 50%;
    --theme-color-3-l: 66%;
    --theme-color-3-a: 1;

    --theme-color-1: hsla(var(--theme-color-1-h), var(--theme-color-1-s), var(--theme-color-1-l), var(--theme-color-1-a));
    --theme-color-2: hsla(var(--theme-color-2-h), var(--theme-color-2-s), var(--theme-color-2-l), var(--theme-color-2-a));
    --theme-color-3: hsla(var(--theme-color-3-h), var(--theme-color-3-s), var(--theme-color-3-l), var(--theme-color-3-a));

    --theme-color-1-dark: hsla(var(--theme-color-1-h), var(--theme-color-1-s), calc(var(--theme-color-1-l) - 15%), var(--theme-color-1-a));
    --theme-color-2-dark: hsla(var(--theme-color-2-h), var(--theme-color-2-s), calc(var(--theme-color-2-l) - 15%), var(--theme-color-2-a));
    --theme-color-3-dark: hsla(var(--theme-color-3-h), var(--theme-color-3-s), calc(var(--theme-color-3-l) - 15%), var(--theme-color-3-a));

    --theme-color-1-light: hsla(var(--theme-color-1-h), var(--theme-color-1-s), calc(var(--theme-color-1-l) + 15%), var(--theme-color-1-a));
    --theme-color-2-light: hsla(var(--theme-color-2-h), var(--theme-color-2-s), calc(var(--theme-color-2-l) + 15%), var(--theme-color-2-a));
    --theme-color-3-light: hsla(var(--theme-color-3-h), var(--theme-color-3-s), calc(var(--theme-color-3-l) + 15%), var(--theme-color-3-a));

    --theme-color-3-light-translucent: hsla(var(--theme-color-3-h), var(--theme-color-3-s), calc(var(--theme-color-3-l) + 15%), calc(var(--theme-color-3-a) - 0.9));

    --contact-button-color: var(--theme-color-2);
    --contact-button-hover: var(--theme-color-2-dark);

    /* "responsive" font sizing 
    scale the max font size to 2% of the viewport width, but keep it above 12px and below 24px
    in theory max(<mininum size in pixels>, min(<scaling to viewport width>, <max size in pixels>)) */
    --base-font-size: max(16px, min(2vw, 24px));
    --large-font-size: max(20px, min(3vw, 48px));
    --very-large-font-size: max(24px, min(4.5vw, 64px));
    --small-font-size: max(12px, min(2vw, 18px));
}

body {
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;

    background-color: var(--background-color);
    color: var(--text-color);

    font-family: var(--font-1);
    font-size: var(--base-font-size);
}

.title-text {
    font-size: var(--very-large-font-size);
    font-weight: 800;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    font-size: var(--large-font-size);
    font-weight: 400;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.button-generic {
    background-color: var(--theme-color-1); 
    color: var(--text-color-bright);

    border: none;
    border-radius: 4px;   

    padding: 8px 16px;

    text-align: center;
    font-family: var(--font-1);
    font-size: var(--base-font-size);
    font-weight: 600;
}

.button-generic:hover {
    background-color: var(--theme-color-1-dark); 
    color: var(--text-color-bright);
}

.button-centered {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

.collapsible-generic {
    border-radius: 16px;
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
}

.collapsible-generic-header {
    font-weight: 400;
    font-size: var(--large-font-size);
    border-radius: 8px;
    padding-left: 2%;
    padding-right: 2%;
}

/* Top Navigation Bar */
.top-nav {
    /* add a custom background color to the top navigation bar */
    background-color: var(--nav-bar-color);
    overflow: hidden;
    padding: 1% 5% 1% 5%;
}

    .top-nav-left {
        width: 70%;
        float: left;
    }
  
    .top-nav-right {
        width: 30%;
        float: right;
    }

    /* Style each link in the navigation bar */
    .top-nav a {
        color: var(--text-color);   
        padding: 4px 8px;
        text-align: center;
        font-size: var(--base-font-size);
    }

    /* Change the color of links on hover */
    .top-nav a:hover {
        background-color: var(--nav-bar-hover);
        color: var(--text-color);
    }

    /* Highlight "active" page */
    .top-nav a.active {
        background-color: var(--nav-bar-hover);
        color: var(--text-color);
    }

    .top-nav a.left-align {
        float: left;
        text-align: left;
        margin: 0.5vw 0.5vw 0.5vw 0.5vw;
        color: var(--theme-color-1-light);

        border: solid 2px var(--theme-color-1-light);
        border-radius: 8px;   
    }

    .top-nav a.right-align {
        float: right;
        text-align: right;
        margin: 0.5vw 0.5vw 0.5vw 0.5vw;
        color: var(--theme-color-2-light);

        border: solid 2px var(--theme-color-1-light);
        border-radius: 8px;
    }

/* Welcome Section */
.welcome-left {
    text-align: left;
}

.welcome-right {
    text-align: right;
}

.welcome-paragraph {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

/* Bottom Bar */
.bottom-bar {
    /* add a custom background color to the page end bar */
    background-color: var(--bottom-bar-color);
    padding-top: 1%;
}

.bottom-bar-text {
    font-weight: 500;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.contact-button {
    margin-top: 16px;
}

.contact-button:hover {
    background-color: var(--contact-button-hover); 
}
